html {
    background-color: black
  }
    h1 {
     font-family: verdana;
     font-size: 50px;
     font-weight: normal;
     text-align: center;
     color: white;
     background-color: black;
   }

   h2 {
     font-size: 16px;
     color: aquamarine;
}

.green {
     background-color: mediumspringgreen;
   }

.red {
     background-color: lightcoral;
   }

.blue {
  background-color: skyblue;
   }

   background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
