html {
    background-color: black;
    font-family: verdana;
    text-align: center;
  }
    h1 {
     font-size: 50px;
     font-weight: normal;
     color: white;
     background-color: black;
   }

   h2 {
     font-size: 21px;
     color: gray;
   }

   h3 {
     font-size: 16px;
     color: aquamarine;
   }

.green {
     background-color: mediumspringgreen;
   }

.red {
     background-color: lightcoral;
   }

.blue {
  background-color: skyblue;
   }
